@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #FFEBCC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Open Sans", sans-serif;
}

.gridContainer {
  display: grid;
  /* Set grid dimensions in Javascript */
  gap: 0.5rem;
}

.cell {
  background-color: #FFFFFF;
  border-radius: 20%;
  transition: all 0.1s ease-in-out;
  /* styling the mark */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cell::before, .cell::after {
  content: "";
  transition: all 0.1s ease-in-out;
  position: absolute;
}
.cell:hover, .cell:focus {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0.25em 0.5em 0 rgba(34, 46, 80, 0.2);
}
.cell:focus {
  outline-color: #222E50;
}

.XTurn .cell:not(.O, .X)::before, .XTurn .cell:not(.O, .X)::after {
  height: 100%;
  width: 10%;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.XTurn .cell:not(.O, .X)::before {
  transform: rotate(-45deg);
}
.XTurn .cell:not(.O, .X)::after {
  transform: rotate(45deg);
}
.XTurn .cell:not(.O, .X):hover::after, .XTurn .cell:not(.O, .X):focus::after, .XTurn .cell:not(.O, .X):hover::before, .XTurn .cell:not(.O, .X):focus::before {
  background-color: #c7d0e7;
}

.gridContainer .X.cell {
  background-color: #222E50;
}
.gridContainer .X.cell::before, .gridContainer .X.cell::after {
  height: 100%;
  width: 10%;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.gridContainer .X.cell::before {
  transform: rotate(-45deg);
}
.gridContainer .X.cell::after {
  transform: rotate(45deg);
}

.OTurn .cell:not(.X, .O)::before {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.OTurn .cell:not(.X, .O)::after {
  width: 45%;
  height: 45%;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.OTurn .cell:not(.X, .O):hover::before, .OTurn .cell:not(.X, .O):focus::before {
  background-color: #c7d0e7;
}

.gridContainer .O.cell {
  background-color: #222E50;
}
.gridContainer .O.cell::before {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.gridContainer .O.cell::after {
  width: 45%;
  height: 45%;
  border-radius: 50%;
  background-color: #222E50;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background-color: #222E50;
  color: #FFFFFF;
  border-radius: 5px;
  padding-inline: 0.35em;
  border: 0;
}
button:hover, button.cell:focus {
  background-color: #2e3e6c;
  cursor: pointer;
}

button.replayBtn {
  font-weight: 500;
  background-color: #FC7A57;
  padding: 0.25em 0.5em;
  border-radius: 25px;
}
button.replayBtn:hover, button.replayBtn.cell:focus {
  background-color: #FFFFFF;
  color: #FC7A57;
  border: 2px solid #FC7A57;
}

.spinner button {
  font-weight: 700;
}

button.plus::after {
  content: "+";
}

.minus::after {
  content: "–";
}

.endMessage {
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
}
.endMessage.Xwon::before {
  content: "X";
}
.endMessage.Owon::before {
  content: "O";
}
.endMessage span {
  position: relative;
}
.endMessage span::after {
  content: "";
  height: 0.2em;
  background-color: #FC7A57;
  position: absolute;
  top: 1.1em;
  left: 0;
  transform: rotate(-2.5deg);
  -webkit-animation: trim-on 0.5s ease-in-out forwards;
          animation: trim-on 0.5s ease-in-out forwards;
}
@-webkit-keyframes trim-on {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes trim-on {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.spinner {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
}
.spinner input {
  -moz-appearance: textfield;
  height: 100%;
  width: 2em;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
}
.spinner input::-webkit-outer-spin-button, .spinner input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.spinner input:invalid {
  background-color: #ff6666;
}

.replayBtn {
  position: absolute;
}

.inactive {
  pointer-events: none;
}

.hide .spinner, .hide .endMessage, .hide .replayBtn {
  display: none;
}
.hide .endMessage span::after {
  width: 0%;
}/*# sourceMappingURL=style.css.map */