@import 'buttons';

.endMessage{
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    &.Xwon::before{
        content: 'X';
    }
    &.Owon::before{
        content: 'O';
    }
    // padding-bottom: 0.5em;
    
    span{
        position: relative;
        &::after{
            content: '';
            height: 0.2em;
            background-color: $accentColor;
            position: absolute;
            top: 1.1em;
            left: 0;
            transform: rotate(-2.5deg);
            animation:trim-on 0.5s ease-in-out forwards;
        }

        @keyframes trim-on {
            from{
                width: 0%;
            }
            to{
                width: 100%;
            }
        }
    }
}

.spinner{
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    input{
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
            -webkit-appearance: none;
        }
        &:invalid{
            background-color: lighten(red,20%);
        }
        height: 100%;
        width: 2em;
        border: 0;
        font-family: 'Open Sans',sans-serif;
        font-size: 1rem;
        text-align: center;
    }
}

.replayBtn{
    position: absolute;
}

.inactive{
    pointer-events: none;
    
}

.hide {
    .spinner,.endMessage,.replayBtn{
        display: none;  
    }
    .endMessage span::after{
        width: 0%;
    }
}
