@import 'buttons';

.endMessage{
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    // padding-bottom: 0.5em;
    span{
        position: relative;
        &.win::before{
            content: 'Won!';
        }
        &.lose::before{
            content: 'Lose!';
        }
        &::after{
            content: '';
            width: 100%;
            height: 0.2em;
            background-color: $accentColor;
            position: absolute;
            top: 1.1em;
            left: 0;
            transform: rotate(-2.5deg);
        }
    }
}

.spinner{
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    input{
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
            -webkit-appearance: none;
        }
        &:invalid{
            background-color: lighten(red,20%);
        }
        height: 100%;
        width: 2em;
        border: 0;
        font-family: 'Open Sans',sans-serif;
        font-size: 1rem;
        text-align: center;
    }
}

.replay{
    position: absolute;
}

.inactive{
    pointer-events: none;
    
}

.hide {
    display: none;  
    span::after{
        width: 0%;
    }
}
