@use "sass:color";
@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	background-color: $bgColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	font-family: 'Open Sans', sans-serif;
}

.grid{
	display: grid;
	grid-template-rows: repeat(3, $cell-Size);
	grid-template-columns: repeat(3, $cell-Size);
	gap: 0.5rem;
}

.cell{
	height: $cell-Size;
	width: $cell-Size;
	background-color: $plainColor;
	border-radius: 20%;
	transition: all 0.1s ease-in-out;
	
	/* styling the mark */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&::before,&::after{
		content: '';
		transition: all 0.1s ease-in-out;
		position: absolute;
	}
	
	&:hover{
		cursor: pointer;
		transform: scale(1.1);
		box-shadow: 0 0.25em 0.5em 0 rgba($solidColor,0.2);
	}
	&:focus{
		@extend :hover;
		outline-color: $solidColor;		
	}
}

@mixin xStyle($color){
	&::before,&::after{
		height: $cell-Size;
		width: $mark-Size;
		background-color: $color;
		border-radius: 5px;
		}
		&::before{
			transform: rotate(-45deg);
		}
		&::after{
			transform: rotate(45deg);
		}
}

.XTurn .cell{
	@include xStyle($plainColor);
	&:hover::after,&:hover::before{
		background-color: scale-color($solidColor, $lightness: 80%);
	}
}

.grid div.X.cell{						//.grid and div added for increasing specificity
	background-color: $solidColor;
	@include xStyle($plainColor);
}

@mixin oStyle($border,$inside) {
	&::before{
		width: $cell-Size*0.75;
		height: $cell-Size*0.75;
		border-radius: 50%;
		background-color: $border
	}
	&::after{
		width: $cell-Size*0.45;
		height: $cell-Size*0.45;
		border-radius: 50%;
		background-color: $inside;
	}
}

.OTurn .cell{
	@include oStyle($plainColor,$plainColor);
	&:hover::before{
		background-color: scale-color($solidColor,$lightness:80%);
	}
}

.grid div.O.cell{						//.grid and div added for increasing specificity
	background-color: $solidColor;
	@include oStyle($plainColor, $solidColor);
}

@import 'winScreen';