@use "sass:color";
@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	background-color: $bgColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	font-family: 'Open Sans', sans-serif;
}

.gridContainer{
	display: grid;
	/* Set grid dimensions in Javascript */
	// grid-template-rows: repeat(3, $cell-Size);
	// grid-template-columns: repeat(3, $cell-Size);
	gap: 0.5rem;
}

.cell{
	// height: $cell-Size;
	// width: $cell-Size;
	background-color: $plainColor;
	border-radius: 20%;
	transition: all 0.1s ease-in-out;
	
	/* styling the mark */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&::before,&::after{
		content: '';
		transition: all 0.1s ease-in-out;
		position: absolute;
	}
	
	&:hover{
		cursor: pointer;
		transform: scale(1.1);
		box-shadow: 0 0.25em 0.5em 0 rgba($solidColor,0.2);
	}
	&:focus{
		@extend :hover;
		outline-color: $solidColor;		
	}
}

@mixin xStyle($color){
	&::before,&::after{
		height: 100%;
		width: 10%;
		background-color: $color;
		border-radius: 5px;
		}
		&::before{
			transform: rotate(-45deg);
		}
		&::after{
			transform: rotate(45deg);
		}
}

.XTurn .cell:not(.O,.X){
	@include xStyle($plainColor);
	&:hover::after,&:hover::before{
		background-color: scale-color($solidColor, $lightness: 80%);
	}
}

.gridContainer .X.cell{						//.gridContainer and div added for increasing specificity
	background-color: $solidColor;
	@include xStyle($plainColor);
}

@mixin oStyle($border,$inside) {
	&::before{
		width: 75%;
		height: 75%;
		border-radius: 50%;
		background-color: $border
	}
	&::after{
		width: 45%;
		height: 45%;
		border-radius: 50%;
		background-color: $inside;
	}
}

.OTurn .cell:not(.X,.O){
	@include oStyle($plainColor,$plainColor);
	&:hover::before{
		background-color: scale-color($solidColor,$lightness:80%);
	}
}

.gridContainer .O.cell{						//.gridContainer and div added for increasing specificity
	background-color: $solidColor;
	@include oStyle($plainColor, $solidColor);
}

@import 'winScreen';